  body{
    display: flex;
    background-color: rgb(217, 105, 13);
  }
  #bloc{
    text-align: center;
    margin-top: 15%;
    margin: auto;
    margin-top: 15%;
    width: 50%;
  }
  #button1{
    background-color: #7d2da1;
    width: 200px;
    margin-left: 100px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #button2{
    background-color: #7d2da1;
    visibility: hidden;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #button3{
    background-color: #7d2da1;
    visibility: hidden;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  #TextBloc{
    background-color: aliceblue;
    visibility: hidden;
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    text-align: center;
  }
  #Titlu{
    font-family: "Poetsen One", sans-serif;
  }
  #Arrow{
    font-size: 15px;
    visibility: hidden;
    margin-top:23%
  }
  #ArrowBloc{
    border-radius: 15px;
    visibility: hidden;
    background-color: red;
    text-align: center;
    width: 35px;
    height: 30px;
  }
